<h1>Editing tune</h1>

<% form_for(@tune) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :episode_count %><br />
    <%= f.text_field :episode_count %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tune %> |
<%= link_to 'Back', tunes_path %>